# Dependencies
/node_modules
/.pnp
.pnp.js

# Testing and Coverage
/coverage

# Production Build (Frontend)
/build
/dist

# Environment Files (Sensitive Data)
.env
.env.local
.env.development
.env.development.local
.env.test
.env.test.local
.env.production
.env.production.local

# Logs
npm-debug.log*
yarn-debug.log*
yarn-error.log*
*.log

# System Files
.DS_Store

# Miscellaneous
.vscode/
.idea/
*.swp
*.swo

# Ignore by Editors
Thumbs.db
*.iml
*.bak

# Ignore Deployment-Specific Files (Optional)
/.vercel
